[submodule "react-course-2-1"]
	path = react-course-2-1
	url = https://github.com/jueltter/react-course-2-1.git
[submodule "react-course-2-2"]
	path = react-course-2-2
	url = https://github.com/jueltter/react-course-2-2.git
[submodule "react-course-2-3"]
	path = react-course-2-3
	url = https://github.com/jueltter/react-course-2-3.git
[submodule "react-course-2-4"]
	path = react-course-2-4
	url = https://github.com/jueltter/react-course-2-4.git
[submodule "react-course-2-5"]
	path = react-course-2-5
	url = https://github.com/jueltter/react-course-2-5.git
[submodule "react-course-2-6"]
	path = react-course-2-6
	url = https://github.com/jueltter/react-course-2-6.git
[submodule "react-course-2-7"]
	path = react-course-2-7
	url = https://github.com/jueltter/react-course-2-7.git
